/* Fonts */
@import url('../fonts/Fonts.css');

/* Document */
:root, input {
    font-family: RubikDirt;
}

body {
    margin: 0;
    overflow-x: hidden;
    user-select: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Window */
.wrapper {
    position: absolute;
    overflow: hidden;

    width: 100vw;
    height: 100vh;
}

.mainWindow {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;

    background-image: url("../../public/assets/1.jpg");
    background-size: 100% 100%;
    animation: bg-zoom infinite 40s linear alternate;
    transition: background-image 150ms linear;

    z-index: 0;
}

.background.heap {
    background-image: url("../../public/assets/2.jpg");
    transition: background-image 150ms linear;
    opacity: 0.8;
}

.background.cold {
    background-image: url("../../public/assets/3.jpg");
    transition: background-image 150ms linear;
    opacity: 0.8;
}


@keyframes bg-zoom {
    from { transform: scale(1.0); }
    to { transform: scale(1.2); }
}

/* Header */
input::placeholder {
    color: rgba(63, 63, 63, 0.4);
}

.header {
    width: 70%;
    height: 5%;
    margin-top: 3%;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(54, 54, 54);

    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    font-size: 2.5vmin;

    border: none;
    border-radius: 0 16px 0 16px;
    outline: none;
    appearance: none;

    transition: 0.4s;
    z-index: 1;
}

.header:focus {
    background-color: rgba(255, 255, 255, 0.6);
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.25));
}

/* Body */
.locationBox,
.weatherBox {
    margin-top: 5%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.locationBox .location {
    color: rgb(255, 189, 227);
    font-size: 9vmin;
    text-align: center;
    font-weight: 500;
    filter: drop-shadow(3px 6px rgba(0, 0, 0, 0.25));
}

.locationBox .date {
    color: rgb(255, 255, 255);
    font-size: 5vmin;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    filter: drop-shadow(3px 6px rgba(0, 0, 0, 0.25));
    text-shadow: 1px 0 black, 0 -1px black, -1px 0 black, 0 1px black;
}

.weatherBox .temp {
    width: 120%;
    color: rgb(255, 189, 227);
    font-size: 14vmin;
    text-align: center;
    font-weight: 400;
    filter: drop-shadow(3px 6px rgba(0, 0, 0, 0.35));
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 36px;
}

.weatherBox .weather {
    margin-top: 5%;
    color: rgb(255, 255, 255);
    font-size: 5vmin;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    filter: drop-shadow(3px 6px rgba(0, 0, 0, 0.25));
    text-shadow: 1px 0 black, 0 -1px black, -1px 0 black, 0 1px black;
}

/* For errors */
.errWrap {
    width: 50%;
    height: 70%;
    margin-top: 5%;
    rotate: 5deg;
    border-radius: 10px;
    z-index: 1;
}

@media (max-width: 1280px) {
    .background {
        width: 200%;
    }

    .header {
        height: 10%;
        font-size: 3.5vmin;
        border-radius: 0 25px 0 25px;
    }

    .locationBox,
    .weatherBox {
        margin-top: 10%;
    }
}

@media (max-width: 600px) {
    .background {
        width: 300%;
    }

    .header {
        margin-top: 10%;
        height: 8%;
        width: 90%;
        font-size: 6.5vmin;
    }

    .locationBox,
    .weatherBox {
        margin-top: 25%;
    }

    .locationBox .location {
        font-size: 15vmin;
    }
    
    .locationBox .date {
        margin-top: 4%;
        font-size: 7vmin;
    }
    
    .weatherBox .temp {
        margin-top: -20%;
        font-size: 25vmin;
        border-radius: 16px;
        background-color: rgba(255, 255, 255, 0.15);
    }
    
    .weatherBox .weather {
        font-size: 7vmin;
    }

    .errWrap {
        width: 90%;
        height: 35%;
        margin-top: 20%
    }
}